.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.product-anchor {
  display: block;
  position: relative;
  top: -52px; /* compensate for sticky header */
  visibility: hidden;
}

.main {
  .block:nth-of-type(odd) {
    background-color: #eff1f1;
  }

  .block:nth-of-type(even) {
    background-color: #fff;
  }
}

.light-text {
  h1 {
    color: #EEE;
  }

  a {
    color: #abdaf9;
  }
}

.kAppInfo {
  display: flex;
  flex-direction: column-reverse;

  img {
    max-width: 100%;

    @media(min-width: 768px) {
      max-width: 40%;
      height: auto;
      margin: 15px;
    }
  }

  .kappInfo-content {
    margin: 15px;
  }

  @media(min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

#akonadi-logo {
  width: 50%;
  height: auto;
  margin: auto;

  @media(min-width: 768px) {
    max-width: 30%;
  }
}

// Description of Application Suite in box

#kWelcome {
  font-size: 18px;
  border-radius: 2px;
  border: solid 1px #abdaf9;
  background-color: #e1f2ff;
  color: #375a7d;
  padding: 10px 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;

  p {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  div.block:nth-of-type(odd) .kAppInfo {
    flex-direction: row-reverse;
  }
}
