{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "head-import" }}
{{ $common := resources.Get "scss/home.scss" }}
{{ $custom := resources.Get "scss/main.scss" }}
{{ $style := slice $common $custom | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{ $components := sort (where (where .Site.RegularPages "Section" "components") "Params.description" "!=" "") }}
<section id="kHeader" class="carousel slide overlay" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {{ range $idx, $val := $components }}
    <article class="carousel-item dark-text{{ if eq $idx 0 }} active{{ end }}">
      <div class="carousel-item-content">
        <div class="slide-background" style="background-image: url({{ $val.Params.screenshot }})"></div>
        <div class="carousel-text-overlay">
          <h1>{{ $val.Title }}</h1>
          <p>{{ $val.Params.shortDescription }}</p>
          <a href="#{{ $val.Title | lower }}" class="learn-more smooth-scroll">{{ i18n "learn-more" | humanize }}</a>
        </div>
      </div>
    </article>
    {{ end }}
  </div>

  <ol class="carousel-indicators">
    {{ range $idx, $val := $components }}
    <li data-target="#kHeader" data-slide-to="{{ $idx }}"{{ if eq $idx 0 }} class="active"{{ end }}></li>
    {{ end }}
  </ol>
</section>

<main aria-label="Content" id="content" class="container">
  <aside id="kWelcome" class="container">
    <p>{{ i18n "welcome-msg" }}</p>
  </aside>

  {{ range $components }}
  <a name="{{ .Title | lower }}" id="{{ .Title | lower }}" class="product-anchor"></a>
  <div class="block">
    <div class="kAppInfo">
      <div class="kAppInfo-content">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ .Description }}</p>
        <p><a href="{{ .Permalink }}" class="learn-more">{{ i18n "read-more" | humanize }}</a></p>
      </div>
      <img src="{{ .Params.screenshot }}" class="preview" alt="{{ .Title }}">
    </div>
  </div>
  {{ end }}
</main>
{{ end }}
